.connect-image {
    width: 150px;
}

.connect-container {
    border: 1px solid black;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.connect-container:hover {
    border: 2px solid black;
}

.connect-text-container {
    margin: 20px;
    justify-content: center;
    display: flex;
}

.connect-text {
    color: black;
    text-align: left;
    font-size: 16px;
    margin: 0px;
    padding: 8px;
    font-family: monospace;
}