.control-button {
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    font-family: monospace;
    background-color: transparent;
    color: black;
}

.control-button:hover {
    border: 2px solid black;
}

.panel {
    margin: 20px;
    display: flex;
    gap: 10px;
}
