.focus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media (max-width: 768px) {
    .focus-container {
        flex-direction: column;
        gap: 24px;
    }
}

.focus-video {
    border-radius: 24px;
    overflow: hidden;
    border: none;
}

.focus-scrolling-image {
    position: absolute;
    bottom: 40px;
    width: 200px;
    animation: moveRight 10s linear infinite;
    pointer-events: none;
}

@keyframes moveRight {
    0% {
        left: 100vw;
        bottom: 40px;
    }

    10% {
        bottom: 80px;
    }

    20% {
        bottom: 40px;
    }

    30% {
        bottom: 80px;
    }

    40% {
        bottom: 40px;
    }

    50% {
        bottom: 80px;
    }

    60% {
        bottom: 40px;
    }

    70% {
        bottom: 80px;
    }

    80% {
        bottom: 40px;
    }

    90% {
        bottom: 80px;
    }

    100% {
        left: -200px;
        bottom: 40px;
    }
}

.focus-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body.no-x-scroll {
    overflow-x: hidden;
}

.focus-page::webkit-scrollbar {
    display: none;
}

.focus-login-button {
    background: transparent;
    border: 1px solid black;
    color: black;
    font-family: monospace;
    border-radius: 24px;
    padding: 8px;
}

.focus-login-button:hover {
    border: 2px solid black;
}

.focus-button-container {
    display: flex;
    margin: 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
