/* Placeholder.css */

.card:hover .card-image {
  display: none;
}

.card:hover .card-title {
  display: none;
}

.card:hover {
  background-color: linear-gradient(to bottom, #000000, #001c08);
}

.card:hover .card-text {
  display: block;
  color: white;
}

.card:hover .card-button {
  display: block; /* Make the button visible on hover */
}

.card {
  width: 210px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.card-button {
  display: none;
}

.card-image,
.card-title {
  width: 100%;
  display: block;
}

.card-text {
  display: none;
}
